@import '../../styles/_variables';

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1;
    padding: $spacing-lg 0;
    animation: fadeIn $transition-normal forwards;
  }
}
